{% extends "server_connections/forms/ConnectionForm.html" %}
{% load connections_extras %}
{% block form_content %}
    <div class="row">
        <p class="col-xs-12">Local certificates</p>
        <div class="col-xs-12">
            <p>Choose the certificate which authenticates the server. Only certificates with private key's are shown.</p>
        </div>
    </div>
    {% include "server_connections/forms/CertificatePicker.html" with certificate=form.certificate identity=form.identity %}

    <hr>

    <div class="row">
        <p class="col-xs-12">Remote certificates</p>
        <div class="col-xs-12">
            <p>Choose a certification authority (CA) certificate or a peer certificate.</p>
        </div>
    </div>
    {% include "server_connections/forms/CaPicker.html" with form=form %}

    <hr>

    <!-- New Section for Encryption Algorithm Options -->
    <div class="row">
        <div class="col-xs-12">
            <p>Encryption Algorithm</p>
            <div class="form-group">
                <label for="encryption_algorithm">Encryption</label>
                <select id="encryption_algorithm" name="encryption_algorithm" class="form-control">
                    {% for algorithm in encryption_algorithms %}
                        <option value="{{ algorithm }}">{{ algorithm }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="hash_option">Hash</label>
                <select id="hash_option" name="hash_option" class="form-control">
                    {% for option in hash_options %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="dh_group">DH</label>
                <select id="dh_group" name="dh_group" class="form-control">
                    {% for group in dh_groups %}
                        <option value="{{ group }}">{{ group }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <hr>
{% endblock form_content %}
