{% extends "server_connections/forms/ConnectionForm.html" %}
{% load connections_extras %}
{% block form_content %}
    <div class="row">
        <p class="col-xs-12">Local certificates</p>
        <div class="col-xs-12">
            <p>Choose the certificate which authenticates the server. Only certificates with private key's are shown.</p>
        </div>
    </div>
    {% include "server_connections/forms/CertificatePicker.html" with certificate=form.certificate identity=form.identity %}

    <hr>

    <div class="row">
        <p class="col-xs-12">Remote certificates</p>
        <div class="col-xs-12">
            <p>Choose a certification authority (CA) certificate or a peer certificate.</p>
        </div>
    </div>
    {% include "server_connections/forms/CaPicker.html" with form=form %}

    <hr>
{% comment %} 
    <!-- New Section for Encryption Algorithm Options -->
    <div class="row">
        <div class="col-xs-12">
            <p>Encryption Algorithm</p>
            <div class="form-group">
                <label for="id_encryption_algorithm">Encryption</label>
                {{ form.encryption_algorithm }}
            </div>
            <div class="form-group">
                <label for="id_hash_option">Hash</label>
                {{ form.hash_option }}
            </div>
            <div class="form-group">
                <label for="id_dh_group">DH</label>
                {{ form.dh_group }}
            </div>
        </div>
    </div>

    <hr>

    <!-- Render remaining form fields explicitly to avoid duplication -->
    <div class="form-group">
        <label for="id_profile">Profile</label>
        {{ form.profile }}
    </div>
    <div class="form-group">
        <label for="id_local_addrs">Local Addresses</label>
        {{ form.local_addrs }}
    </div>
    <div class="form-group">
        <label for="id_remote_addrs">Remote Addresses</label>
        {{ form.remote_addrs }}
    </div>
    <div class="form-group">
        <label for="id_version">IKE Version</label>
        {{ form.version }}
    </div>
    <div class="form-group">
        <label for="id_send_certreq">Send Certificate Request</label>
        {{ form.send_certreq }}
    </div>
    <div class="form-group">
        <label for="id_local_ts">Local Traffic Selector</label>
        {{ form.local_ts }}
    </div>
    <div class="form-group">
        <label for="id_remote_ts">Remote Traffic Selector</label>
        {{ form.remote_ts }}
    </div>
    <div class="form-group">
        <label for="id_start_action">Start Action</label>
        {{ form.start_action }}
    </div>
    <div class="form-group">
        <label for="id_initiate">Initiate</label>
        {{ form.initiate }}
    </div> {% endcomment %}
{% endblock form_content %}
