{% extends "server_connections/forms/ConnectionForm.html" %}
{% load connections_extras %}
{% block form_content %}
    <div class="row picker">
        <label class="control-label col-sm-3 col-xs-12">Generate PSK</label>
        <div class="controls col-sm-8 col-xs-10">
            <button type="button" class="btn btn-primary" id="generate-psk">Generate PSK</button>
            <input type="text" class="form-control" id="psk-field" name="psk" readonly>
        </div>
        <div class="col-sm-1 col-xs-2">
            {% include "server_connections/widgets/QuestionPopover.html" with title="PSK Generation help" content="Click to generate a Pre-Shared Key (PSK)." %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#generate-psk').click(function() {
            $.ajax({
                url: '/generate_psk/',  // Replace with your actual URL endpoint for PSK generation
                type: 'GET',
                success: function(data) {
                    $('#psk-field').val(data.psk);  // Assuming data.psk contains the generated PSK
                },
                error: function(xhr, status, error) {
                    console.error('Error generating PSK:', error);
                }
            });
        });
    });
    </script>

{% endblock form_content %}
